/* Register component styles: reuses login layout (background, card sizing) */
.login-register {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
    width: 100%;
    padding: 10% 0;
    position: fixed;
}

.login-box {
    width: 450px;
    margin: 0 auto;
}

.login-sidebar {
    padding: 0px;
    margin-top: 0px;
}

.login-sidebar .login-box {
    right: 0px;
    position: fixed;
    height: 100%;
}

mat-card-header img {
    height: 140px;
    object-fit: contain
}

.full-width {
    width: 100%
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem
}

@media (min-width:320px) {
    .login-box {
        width: auto;
    }
}

@media (min-width:375px) {
    .login-box {
        width: auto;
    }
}

@media (min-width:425px) {
    .login-box {
        width: auto;
    }

    .actions {
        flex-direction: column;
        gap: 0.5rem
    }
}

@media (min-width:768px) {
    .login-box {
        width: 330px;
    }

    .login-register {
        width: 89%;
    }
}

@media (min-width:1024px) {
    .login-register {
        width: 95%;
    }
}

@media (min-width:1440px) {
    .login-register {
        width: 85%;
    }
}